div {
    background-color: darksalmon;
    border: white dashed 2px;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

input, button, select, label {
	width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

h4 {
    margin: 0;
}